.text-color-space {
    color: #B1B3B6;
}

.fs-13px {
    font-size: 13px;
}

.fw-600 {
    font-weight: 600;
}

.icon-bg-space {
    background-color: #262626;
}

.create-space-button {
    background-color: #1D1D1D;
}